@inject CaseClient _caseClient
@inject ICaseIdHandler _caseIdHandler 
@inject NavigationManager _navigationManager
@inject IToastService _toast

<div class="form-inline">
    <fieldset class="form-group p-2">
        <label class="font-weight-bold" for="txtCaseNumber">Case Number: </label>
        <input type="text"
               maxlength="1000"
               class="form-control"
               @bind="caseNumber"
               id="txtCaseNumber" />
    </fieldset>
    <fieldset class="form-group p-2">
        <label class="font-weight-bold" for="txtAppealNumber">Appeal Number: </label>
        <input type="number"
               min="0" max="15"
               class="form-control"
               @bind="appealNumber"
               id="txtAppealNumber" />
    </fieldset>
    <button type="submit"
            class="btn btn-primary"
            @onclick="SearchClicked">
        Search
    </button>
</div>

@code {
    private string caseNumber;
    private int appealNumber;
    private int caseId;

    private async Task SearchClicked()
    {
        if (string.IsNullOrWhiteSpace(caseNumber))
        {
            _toast.ShowWarning("Case Number cannot be empty");
            return;
        }

        caseId = await _caseClient.GetCaseIdAsync(caseNumber, appealNumber);
        switch (caseId)
        {
            case -3:
                _toast.ShowError($"Case cannot be created because previous appeal is not at {ProceedingDecisions.FinalJudgement}");
                return;
            case -2:
                _toast.ShowError($"Case cannot be created with current appeal number because previous appeal does not exist");
                return;
            case -1:
                _toast.ShowInfo("Case does not exist, new case will be created");
                break;
            default:
                _toast.ShowInfo("Case Found");
                break;
        }

        CaseIdentityModel caseIdentity = new(caseId, caseNumber, appealNumber);
        await _caseIdHandler.StoreCaseDetailsAsync(caseIdentity);

        _navigationManager.NavigateTo("Case/Details");
    }
}
