<nav class="nav nav-pills nav-fill">
    <NavLink class="nav-item nav-link" href="Case/Details">Details</NavLink>
    <NavLink class="nav-item nav-link" href="Case/Dates">Dates</NavLink>
    <NavLink class="nav-item nav-link" href="Case/Actors">Actors</NavLink>
    <NavLink class="nav-item nav-link" href="Case/Proceedings">Proceedings</NavLink>
</nav>