@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="oi oi-x"
                InfoIcon="oi oi-info"
                SuccessIcon="oi oi-thumb-up"
                WarningIcon="oi oi-warning" />
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    Hello, @context.User.Identity.Name!
                    <a href="Logout">Log out</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            _navigationManager.NavigateTo("/Login");
        }
    </NotAuthorized>
</AuthorizeView>
