@using CCMS.Shared.Models.InsightsModels
@inject CaseClient _caseClient

<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Summary of Cases</h3>

    <table class="table table-bordered">
        <tr>
            <th>Total Pending Cases</th>
            <td>@(pendingDisposedCount is null ? "Loading..." : pendingDisposedCount.Pending)</td>
        </tr>
        <tr>
            <th>Total Disposed-Off Cases</th>
            <td>@(pendingDisposedCount is null ? "Loading..." : pendingDisposedCount.DisposedOff)</td>
        </tr>
    </table>
</div>

@code {
    private PendingDisposedCountModel pendingDisposedCount;

    protected override async Task OnInitializedAsync()
    {
        pendingDisposedCount = await _caseClient.GetPendingDisposedCountAsync();
    }
}
