@page "/"
@inject IdentityClient _identityClient

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Available roles: @roles</p>

@code {
    private string roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await _identityClient.GetRolesAsync();
    }
}